<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Comment</title>
</head>
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
<body>
<div class="container">
    <h2>Update Comment</h2>

    <form action="#" th:action="@{/updateComment}" th:object="${comment}" method="post">
        <input type="hidden" th:field="*{cid}">
        <input type="hidden" th:field="*{createdAt}">
        <input type="hidden" th:field="*{name}">
        <input type="hidden" th:field="*{email}">
        <input type="hidden" name="postId" th:value="${postId}">

        <textarea type="text" rows="3" th:field="*{commentMsg}" placeholder="Add comment here.." class="form-control mb cp-4"></textarea>
        <button type="submit" class="btn btn-info col-2"> Update </button>
    </form>

    <hr>

    <a th:href = "@{/}"> Back to Home Page</a>
</div>
</body>
</html>