<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>TEST</title>
</head>
<body>
<div class="container my-2">
    <h1>Post List</h1>
    <a th:href="@{/showNewBlogForm}" class="btn btn-primary btn-sm mb-3"> Create Blog </a>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Post</th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td>
                <b class="bold" th:text="${post.title}"></b>
                <p th:text="${post.excerpt}"></p>
            </td>
            <td>
                <a th:href="@{/showPost/{id}(id=${post.pid})}" class="btn btn-primary">Show</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage > 1}" th:href="@{'/home/' + ${currentPage - 1}}">Prev</a>
                <span th:unless="${currentPage > 1}">Prev</span>
            </div>
            <div class="col-sm-1">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${currentPage != i}" th:href="@{'/home/' + ${i}}">[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                    </span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/home/' + ${currentPage + 1}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/home/' + ${totalPages}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>

</div>
</body>
</html>